<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22014404986-h90bligsqn32eqnkut8nr7tbkfuf2jcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22014404986-h90bligsqn32eqnkut8nr7tbkfuf2jcu</string>
	<key>API_KEY</key>
	<string>AIzaSyAciK7Lx0da1e1uBDPai6IGJdUBoorS9NE</string>
	<key>GCM_SENDER_ID</key>
	<string>22014404986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.novi.brewery</string>
	<key>PROJECT_ID</key>
	<string>brewery-a6d24</string>
	<key>STORAGE_BUCKET</key>
	<string>brewery-a6d24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22014404986:ios:64376eae3d1057d2e14ec3</string>
</dict>
</plist>